@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------ MAIN COLORS ------------ */

:root {
    --MAIN-COLOR-1: #D6E4FE;
    --MAIN-COLOR-2: #491D8B;
    --MAIN-COLOR-3: #0A84FF;
}


/* ------------ BODY LAYOUT ------------ */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

/* ------------ NAVBAR ------------ */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.links-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
    margin-right: 15px;
}

#btn-1 {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    padding: 10px 40px;
    margin-left: 40px;
    cursor: pointer;
}

/* ------------ SLIDE ------------ */

.slide {
    background-color: var(--MAIN-COLOR-1);
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 500px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 90px;
    border-radius: 40px;
}

.slide>.text>h1 {
    color: var(--MAIN-COLOR-2);
    font-weight: 700;
}

.image2 {
    position: absolute;
    top: 150px;
}

/* ------------ MEDIA-QUERY ------------ */

@media only screen and (max-width: 2560px) {
    .image2 {
        left: 1450px;
    }
}

@media only screen and (max-width: 1440px) {
    .image2 {
        left: 850px;
    }
}

@media only screen and (max-width: 1024px) {
    .image2 {
        left: 650px;
    }
}

@media only screen and (max-width: 768px) {
    .image2 {
        left: 450px;
    }
    .slide {
        width: 800px;
    }
}


@media only screen and (max-width: 425px) {
    .image2 {
        left: 250px;
    }
    .slide {
        width: 300px;
    }
}